.container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
    grid-template-areas: "container-left container-right";
    max-width: 1920px;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.container-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    grid-area: container-left;
}

.logo {
    margin-top: 50px;
    margin-bottom: 30px;
}

#logo {
    width: 100%;
    max-width: 300px;
}

.typeText {
    width: 90%;
    margin-bottom: 30px;
    margin-top: 30px;
}

#typeText {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    resize: none;
    background: rgb(255, 255, 255, .5);
}

#p-exeptions {
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: gray;
}

button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#encrypt {
    background-color: rgb(224, 179, 212);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#decrypt {
    background-color: rgb(176, 95, 161);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#encrypt:hover,
#decrypt:hover {
    opacity: 0.8;
}


.container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: container-right;
}

.rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 80%;
    background-color: rgb(255, 255, 255, .5);
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.rectangle h2 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.rectangle p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: gray;
    margin-bottom: 20px;
}

.rectangle img {
    fill: #bd6de5;
}

.hide-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    padding: 10px;
    background: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border: none;
    resize: none;
    text-align: center;
}

#copy {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(176, 95, 161);
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 30px;
}

#copy:hover {
    opacity: 0.8;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.footer a {
    text-decoration: none;
    color: black;
}